body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 5px;
}

h3 {
    font-weight: normal;
    text-align: center;
    color: #333;
    margin-top: 0;
    margin-bottom: 20px;
}


input[type="text"],
input[type="date"],
input[type="file"],
select {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ccc;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-bottom: 20px;
}

fieldset {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-bottom: transparent;
    border: 2px solid #ccc;
}
#gameID {
    width: calc(50% - 5px);
    padding: 10px;
    margin-bottom: 0;
    text-align: center;
    border-radius: 5px;
}

#contDiamond {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#diamondsTitle {
    margin-top: 20px;
}

#diamondsValue {
    margin: 20px;
    font-size: large;
    width: 20%;
    border-radius: 5px;
    border: transparent;
    border-bottom: 2px solid #ccc;
    text-align: center;
    height: 40px;
}

#price {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin-bottom: 20px;
    text-align: right;
    border-radius: 15px;
    border: 2px solid #ccc;
    background-color: #ccc;
}

button {
    background-color: rgb(42, 147, 233);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}