@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.p1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.p {
    border: 1px solid black;
    padding: 5px;
}

.margin {
    margin: 25px;
}

a:link {
    color: red;
}

a:hover {
    color: blue;
}

a:active {
    color: green;
}

a:visited {
    color: purple;
}


.pr {
    color: blue;
}

body {
    background-image: url('https://images.unsplash.com/photo-1591779051696-1c3fa1469a79?q=80&w=1548&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: right top;
    background-repeat: no-repeat;
    backdrop-filter: brightness(0.6);
    color: aliceblue;
}

p.solid {
    border-style: solid;
}

p.dotted {
    border-style: dotted;
}

p.dashed {
    border-style: dashed;
}

p.double {
    border-style: double;
}

p.groove {
    border-style: groove;
}

p.ridge {
    border-style: ridge;
}

p.inset {
    border-style: inset;
}

p.outset {
    border-style: outset;
}

p.none {
    border-style: none;
}

p.hidden {
    border-style: hidden;
}

p.mix {
    border-style: dotted dashed solid double;
}

.padding-all {
    border: 1px solid violet;
    padding: 10px 5px 2px 20px;
}

.padding-each {
    border: 1px solid black;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 25px;
}

.margin-all {
    border: 1px solid violet;
    margin: 10px 5px 2px 20px;
}

.margin-each {
    border: 1px solid black;
    margin-top: 5px;
    margin-right: 40px;
    margin-bottom: 15px;
    margin-left: 25px;
}

.p2 {
    border: 1px solid black;
    padding: 5px;
}

.wide {
    width: 300px;
}

.narrow {
    width: 50px;
}

.high {
    height: 300px;
}

.low {
    height: 50px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: inherit;
    background-color: inherit;
    padding: 14px 16px;
    border-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}